.teams .team .show {
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  background-color: teal;
}

.teams .team .icon {
  transform: rotate(90deg);
  transition: all 0.4s ease-out;
}

.teams .team .collapse {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
}

.teams .team.open .icon {
  transform: rotate(0deg);
}

.teams .team.open .collapse {
  max-height: 100%;
  opacity: 1;
}
